.navbar-light .navbar-nav .nav-link {
  color: #000;
}

button img{
  border: 2px solid #000000;
  width: 20%;
}
.blue_btn, .button {
  background-color:#74C0FC ;
  color: white;
 
}
.button{
  border: #74C0FC;
  padding: 1% 3% 1% 3%;
  color: white;
  font-size: 2vw;
  
 
}
.wbutton{
  border: #f8fafc;
  padding: 1% 3% 1% 3%;
  font-size: 2vw;
  
 
}
.content h5{
  color:#74C0FC;
  text-align: left;
  font-size: 2vw;
  
}
.content h1{
  font-size: 3.5vw;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.content h1,.content p{
  color: white;
  
}
.content p{
  font-size: 1.6vw;
  width: 80%;
}
.nav-link .mx-2:visited{
  color: #74C0FC;
}

.content{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}
.txt-content{
  margin-left: 15%;
}
/*.carousel-control-prev{
 margin-left:85% ;
 margin-bottom: 10%;
}*/

.container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  margin-top: 5%;
  text-align: center;
}
.box{
  background-color: #bce2ff5d;
  padding: 10%;
  margin: 3%;
  
}
.box-title{
  font-size:2.2vw;
  font-weight: bold;
}
.container i{
  color:#74C0FC;
  font-size: 5vw;
  margin-bottom: 2%;
 
}
.container i:hover{
  color: white;
}
.box:hover{
  background-color: #74C0FC;
  color: white;
}

.abt-container{
  width: 85%;
  margin: auto; 
  display: flex;
  flex-wrap: wrap; 
  margin-top: 5%;
}
.abt-container img{
  width: 50%;
  margin-right: 5%; 
}

.txt-container {
  flex: 1;
  
}

.offers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.offer {
  flex: 0 0 50%; 
  padding: 10px;
  box-sizing: border-box;
}
.offer i{
  color: #74C0FC;
}
.txt-container h6,.cat-container h6,.courses-container h6,.instructor-container h6{
  font-weight: bold;
  color: #74C0FC;
  font-size:2.1vw;
}

.cat-container {
  width: 85%; 
 
  
}
.cat-container h6,.courses-container h6,.instructor-container h6{
  margin-left: 42%;
}
.cat-container h1,.courses-container h1,.instructor-container h1{
  margin-left: 35%;
}

.cat-container,.courses-container,.instructor-container {
  margin-top: 5%; /* Center the container */
}

.img-container {
  display: flex;
  margin-top: 20px; /* Adjust the margin as needed */
}

.left-imgs {
  flex: 60%; /* Take 60% of the container */
  display: flex;
  flex-direction: column;
}

.top-img img {
  width: 100%;
  height: auto;
}

.bottom-img {
  display: flex;
}

.left-img,
.right-img {
  flex: 50%;
  box-sizing: border-box;
}

.left-img,
.right-img img {
  width: 100%;
  height: auto;
}

.right-imgs {
  flex: 40%; /* Take 40% of the container */
}

.right-imgs img {
  width: 100%;
  height: auto;
}
.checked {
  color:#74C0FC;
}

.card {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  transition: transform 0.3s ease-in-out; /* Smooth transition for the zoom effect */
}

.card:hover .card-img-top {
  transform: scale(1.1); /* Zoom in by 10% on hover (adjust the scale factor as needed) */
   
}

.button-container {
  position: absolute;
  top: 45%;
  left: 20%;
  display: flex;
  font-size: 0.8vw;
  
}
.info span{
  border-top: 1px solid rgba(37, 37, 37, 0.678);
  border-right: rgba(37, 37, 37, 0.678) solid 1px;
  padding: 8px;
  margin: 0px;
}
.media-btn-container {
  position: absolute;
  top: 65%;
  left: 25%;
  display: flex;
  font-size: 0.8vw;
  background-color: #badbf5;
  
}
.blue-card{
  background-color: #badbf5;
  
}

